<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>razorpay</title>
</head>

<body>

    <button>pay with razorpay</button>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script th:inline="javascript">
        var options = {
            "key": /*[[${key}]]*/,
            "amount": "[[${amount}]]",
            "currency": "inr",
            "name": "my app",
            "description": "test transaction",
            "image": "<image>.jpg",
            "order_id": /*[[${orderId}]]*/,
            "callback_url": "/success",
            "prefill": {
                "name": "smith",
                "email": "smith@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "razorpay corporate office"
            },
            "theme": {
                "color": "#F29F58"
            }
        };

        var rzp1 = new Razorpay(options);

        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        };
    </script>

</body>
</html>
